body {
  font-family: "Poppins", sans-serif;
}

container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/woodstock-photo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-size: 86px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
header h2 {
  font-size: 24px;
  font-weight: 900px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header a {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700px;
  text-transform: uppercase;
  text-decoration: none;
  color: #272044;
  background-color: aliceblue;
  margin-top: 32px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 5px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/woodstock-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: aliceblue;
  opacity: 0.7;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: rgb(6, 44, 78);
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.img-responsive {
  max-width: 100%;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 43px;
  }
  header h2 {
    font-size: 12px;
  }
  header h3 {
    font-size: 21px;
  }

  header a {
    font-size: 7px;
    padding: 8px 16px;
    margin-top: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
