body {
  font-family: "Poppins", sans-serif;
}

container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/woodstock-photo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-size: 86px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
header h2 {
  font-size: 24px;
  font-weight: 900px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header a {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700px;
  text-transform: uppercase;
  text-decoration: none;
  color: #272044;
  background-color: aliceblue;
  margin-top: 32px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 5px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/woodstock-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  padding-left: 20px;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: aliceblue;
  opacity: 0.7;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: rgb(6, 44, 78);
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.card {
  background: white;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.card-header.grid {
  grid-gap: 0;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.text-center {
  text-align: center;
}
.img-responsive {
  width: 100%;
  display: block;
}
.gallery h3 {
  margin: 30px;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns-equal {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.secondary-section {
  background: #f8f8f8;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 43px;
  }
  header h2 {
    font-size: 12px;
  }
  header h3 {
    font-size: 21px;
  }

  header a {
    font-size: 7px;
    padding: 8px 16px;
    margin-top: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
